.search-autocomplete-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
}

.loadingText {
  color: blue;
}

.matchingDiseases {
  color: red;
}